@font-face{
    font-family: 'fontello';
    src: url('../font/fontello.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{

    box-sizing: border-box;

}

html {

    font-size: 62.5%;
    
}

body{
    width: auto;
    margin: 0;
    font-size: 1.6rem;

    .main{
    
        max-width: auto;
        height: 100vh;
        min-height: 100vh;
        background-image: url(../img/FONDDESKTOP2.svg);
        background-repeat: no-repeat;
        background-size:  cover;
        
        background-position: center;
        margin: 0 auto;
        position:relative;
        
    }
    
@media screen and (min-width:575px) and (max-width:990px) and (orientation : portrait) {

    .main{

        width: auto;
        height: auto;
        background-image: url(../img/FONDTABLETTE.svg);

        header {
            padding :1rem 0;
            max-width: 990px;
            height: 25vh;
            justify-content: space-around;
            position:relative;

            .img-profil{
                width: 18rem;
                height: 18rem;
               position: relative;
                
                img{
                    height: 100%;
                    width: 100%;
                    border-radius: 15rem;
                     border: 2px solid  #5998C5;
                     position: absolute;
                }
                a{
                position:absolute;
                top:0;
                left: 13rem;
                font-size: 3rem;
                }

            }
            .title{
                display: flex;
                width: 31rem;
                height: 10rem;
                flex-direction: column;
                padding: 1rem 0;
                background-color: white;
                border-radius: 1rem;
                margin: 0;
                
                h1{
                    width: 30rem;
                    font-size: 3rem;
                    color: Rgb(0, 23, 31);
                    margin:0;
                }

                h2{
                    width: 30rem;
                    font-size: 3rem;
                    color: #5998C5;
                    margin:0;
                }

            }

            

            .blank{
                display: none;
            }

        }

        .center{

            display: flex;
            flex-direction: column;
            align-items: center;
            height: 75vh;

            .codec{
                height: 50%;
                width: auto;
                padding-left: 5rem;

                code{
    
                    font-size: 2rem;
                    line-height: 20px;
                    color: #5998C5;

                }
            }

            .hero{

                align-self: flex-end;
                margin: 3rem 5rem;
                height: auto;
                width:45rem;
               
                p{

                   font-size: 2rem;

                    span{

                        font-weight: 500;

                    }
                }
    
                a{

                    align-self: center;
                    padding: 0;
                    margin: 1rem;
                    margin-left: 20%;
                    text-decoration: none;
                    width: 25rem;
                    height: 5rem;
                    background-color: #5998C5;
                    color: white;
                    text-align: center;
                    
                    p{
                        margin: 0;
                        padding: 1.5rem;
                        
                    }

                }

            }

            .blank{

                display: none;
            }

        }

        footer{

            max-width: auto;
            
            .btns{

                bottom: 0;
                margin-top: 5.5rem;
               
                a{

                    margin:0 5rem;

                    i{

                        font-size: 5rem;
                        color: #EBEBEB;

                    }
                }
            }
    
            img{
                display: none;
            } 
        }
    }
}
    
@media screen and (max-width:575px)and (orientation : portrait){
    .main{

        height: auto;
        width: auto;
        background-image: url(../img/FONDTABLETTE.svg);
        background-repeat: no-repeat;
        background-size:  cover;
        background-position: center;
        
        
        header {
            
            padding : 1rem 2rem;
            width: auto;
            height: 20%;
            position: relative;
            
            .img-profil{
                
                width: 12rem;
                height: 12rem;
                position: relative;
                
                img{
                    height: 100%;
                    width: 100%;
                    border-radius: 15rem;
                    border: 2px solid  #5998C5;
                    
                }
                a{
                position: absolute;
                top:0;
                left: 8rem;
                font-size: 2.5rem;
                  
            }
            }

            .title{

                display: flex;
                width: 55%;
                height: 7rem;
                flex-direction: column;
                padding: 1rem 0;
                background-color: white;
                border-radius: 1rem;
                margin: 0;
                
                h1{

                    width: 20rem;
                    font-size: 2rem;
                    color: Rgb(0, 23, 31);
                    margin:0;

                }

                h2{

                    width: 20rem;
                    font-size: 2rem;
                    color: #5998C5;
                    margin:0;

                }

            }
            
            

            .blank{

                display: none;

            }
            
        }

        .center{

            display: flex;
            flex-direction: column;
            align-items: center;
            height: 80%;

            .codec{

                height: 25rem;
                width: auto;
            
                code{
                
                    padding: 0 ;
                    margin: 0rem 2rem 0 2rem;
                    font-family: Source Code Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 20px;
                    color: #5998C5;
    
                    span{
                        color: Rgb(0, 23, 31);
                    }

                }

            }

            .hero{

                margin: 2rem 2rem;
                height: auto;
                width:35rem;
                background-color: #FFFFFF;
                border: solid #5998C5 1.5px;
                border-radius: 2rem;
                flex-direction: column;
                font-family: Montserrat;
                font-size: 1.8rem;
                color: #5998C5;
                padding: 1rem;
    
                p{
                    text-align: center;

                    span{
                        font-weight: 500; 
                    }

                }
    
                a{

                    align-self: center;
                    padding: 0;
                    margin: 1rem;
                    margin-left: 17%;
                    text-decoration: none;
                    width: 22rem;
                    height: 5rem;
                    background-color: #5998C5;
                    color: white;
                    text-align: center;
                
                    p{

                        margin: 0;
                        padding: 1.5rem;
                        
                    }
               
                }
            }
            .blank{

                display: none;

            }

        }

        footer{

            max-width: auto;
            display: flex;
            justify-content: center;
            margin: 0;

            .btns{

                bottom: 0;
                margin-top: 5.5rem;
               
                a{

                    margin:0 1rem;

                    i{

                        color: white;
                   
                    }
               
                }
            
            }
    
            img{

                display: none;

            } 
        
        }  
    
    }

}

        header {
           
            display: flex;
            padding : 1rem 3rem;
            justify-content: space-between;
            align-items: center;
            height: 32vh;
            position: relative;

            .img-profil{
                
                width: 20rem;
                height: 20rem;
                position: relative;
                
                img{
                    height: 100%;
                    width: 100%;
                    border-radius: 15rem;
                    border: 1.5px solid #E5E5E5;
                    position: absolute;
                }
                a{
                
                position: absolute;
                text-decoration: none;
                top:0;
                left:15rem;
            
                font-size: 3.5rem;
                
            }
            }

            .title{

                width: 40rem;
                height: 13.8rem;
                align-items: center;
                text-align: center;
                
                h1{

                    font-family: Source Code Pro;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 3.6rem;
                    color: #EBEBEB;
                    margin:0;

                }

                h2{

                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 3.6rem;
                    color: white;
                    margin:5px;

                }

            }
            
            

            .blank{

                width: 20rem;

            }

        }

    .center{

        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 45vh;

        .codec{

            width: 46rem;
            height: 32rem;
            display: flex;
            flex-wrap: wrap;
        
            code{
            
            padding: 3.5rem 0 2rem 3.5rem ;
            font-family: Source Code Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 20px;
            color: #FFFFFF;

            span{

                color: Rgb(0, 23, 31);
            }

            }

        }
        .hero{

            
            width:56rem;
            height: auto;
            background-color: #FFFFFF;
            border: solid #5998C5 1.5px;
            border-radius: 2rem;
            flex-direction: column;
            font-family: Montserrat;
            font-size: 2rem;
            color: #5998C5;
            padding: 2rem;

            p{

                span{

                    font-weight: 500; 

                }

            }

            a{
                
                display: block;
                margin: 1rem;
                margin-left: 22%;
                text-decoration: none;
                width: 25rem;
                height: 5rem;
                background-color: #5998C5;
                color: white;
                text-align: center;

                p{

                    margin: 0;
                    padding: 1rem;
                    font-family: Source Code Pro;

                }

            }

        }
        
        .blank{

            width: 43rem;
        }
        
    }

    footer{

        width: 100%;
        display: flex;
        justify-content: center;
        height: 20vh;

        .btns{

            margin-top: 3rem;

            a{

                margin:0 4rem;
                
                i{
                    text-decoration: none;
                    color: #5998C5 ;
                    padding: 1rem;
                    font-size: 4.5rem;

                }

            }

        }

        img{
           
            bottom: 0;
            right: 0;
            width: 26%;
            position:absolute;
           
        } 

    }

}
