@media screen and (min-width: 575px) and (max-width: 990px) and (orientation: portrait) {
    .main {
        width: auto;
        height: auto;
        background-image: url(../img/FONDTABLETTE.svg);
        background-repeat: no-repeat;
        background-size: cover;

        background-position: center;
        margin: 0 auto;
        position: relative;
        header {
            padding: 1rem 0;
            max-width: 990px;
            height: 25vh;
            justify-content: space-around;
            position: relative;

            .img-profil {
                width: 18rem;
                height: 18rem;
                position: relative;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 15rem;
                    border: 2px solid #5998c5;
                    position: absolute;
                }
                a {
                    position: absolute;
                    top: 0;
                    left: 13rem;
                    font-size: 3rem;
                }
            }
            .title {
                display: flex;
                width: 31rem;
                height: 10rem;
                flex-direction: column;
                padding: 1rem 0;
                background-color: white;
                border-radius: 1rem;
                margin: 0;

                h1 {
                    width: 30rem;
                    font-size: 3rem;
                    color: Rgb(0, 23, 31);
                    margin: 0;
                }

                h2 {
                    width: 30rem;
                    font-size: 3rem;
                    color: #5998c5;
                    margin: 0;
                }
            }

            .blank {
                display: none;
            }
        }

        .center {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 70vh;

            .codec {
                height: 50%;
                width: auto;
                padding-left: 5rem;

                code {
                    font-size: 2rem;
                    line-height: 20px;
                    color: #5998c5;
                }
            }

            .hero {
                align-self: flex-end;
                margin: 3rem 5rem;
                height: auto;
                width: 45rem;

                p {
                    font-size: 2rem;

                    span {
                        font-weight: 500;
                    }
                }

                a {
                    align-self: center;
                    padding: 0;
                    margin: 1rem;
                    margin-left: 20%;
                    text-decoration: none;
                    width: 25rem;
                    height: 5rem;
                    background-color: #5998c5;
                    color: white;
                    text-align: center;

                    p {
                        margin: 0;
                        padding: 1.5rem;
                    }
                }
            }

            .blank {
                display: none;
            }
        }

        footer {
            max-width: auto;

            .btns {
                bottom: 0;
                margin-top: 5.5rem;

                a {
                    margin: 0 5rem;

                    i {
                        font-size: 5rem;
                        color: #ebebeb;
                    }
                }
            }

            img {
                display: none;
            }
        }
    }
}
